.reserve{
   width: 100vw;
   height: 100vh;
   position: fixed;
   background-color: rgba(0,0,0,0.418);
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.rContainer{
    background-color: aliceblue;
    position: relative;
    padding: 20px;
}

.rClose{
    position: absolute;
    font-size: 20px;
    right: 10px;
    /* top: 0; */
    cursor: pointer;
}

.rItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 20px;
}

.rInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .rTitle {
    font-weight: 500;
  }
  
  .rDesc {
    font-weight: 300;
  }
  
  .rMax {
    font-size: 12px;
  }
  
  .rPrice {
    font-weight: 500;
  }
  
  .rSelectRooms{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 15px;
    color: gray;
  }  
  
  .room{
    display: flex;
    flex-direction: column;
  }
  
  .rButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
  }

  input[type="checkbox"]:disabled {
    cursor: not-allowed;
  }