.navbar{   
    height:50px;
    background-color:#003580 ;
    display: flex;
    justify-content: center;
    border-bottom:2px solid gold;
    width: 100vw;

}

.navContainer{
    width:100%;
    max-width: 1024px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-shadow: 2px 2px 4px #000000;    
    padding: 0px 10px;

}

.logo{
 font-weight: 500;   
}

.navButton{
    margin-left:20px;
    border:none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
    box-shadow: 2px 2px 1.5px lightblue
}
