.pList{
    width: 80vw;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .pListItem{
    flex:1;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .pListImg{
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .pListTitles>h1{
    font-size: 18px;
    color: #444;
    text-transform: capitalize;
  }
  
  .pListTitles>h2{
    font-size: 14px;
    font-weight: 300;
  }

  .property-skeleton{
    width:inherit;
    display:flex;
    gap:20px;
    justify-content: space-between;
  }

  .property-skeleton .react-loading-skeleton {
    /* styles for Skeleton components */
    border-radius: 10px;
    width: 188px;
    height: 150px;
  }
  
  ::-webkit-scrollbar {display:none;}
